<strong>Olá, {{ courier }}</strong>
<p>Houve uma nova encomenda cadastrada em seu nome</p>

<p>
  <strong>Id da ordem: </strong> {{ orderId }} <br/>
  <small>
    Lembre-se que você só poderá fazer 5 entregas no dia
  </small>
</p>
